.landing-title {
    font-size: 4.50rem;
    font-weight: 500;
}

@media only screen and (min-width:320px) and (max-width: 480px) {
    .carosal-css {
        // zoom: 0.5;
        height: 320px !important;
        height: 320px !important;
    }
}

@media only screen and (min-width: 768px)   and (orientation: landscape) {
    .carosal-css {
        // zoom: 0.5;
        height: 512px !important;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {

}