<section class="text-gray-600 body-font">
<!--   <div class="container px-5 py-12 mx-auto">
    <div class="elfsight-app-bb12f81b-36da-4c63-b1bf-60419457c001"></div>
  </div> -->

  <div fxLayout="row wrap" fxLayoutAlign="center center" class="px-5 py-12 mx-auto">
    <div fxFlex="50%" fxFlex.xs="100%">
      <div class=" text-7xl sm:text-7xl text-center">
        You Raise<br/>
        We Raise<br>
        <div style="display: inline-block; margin-bottom: 10px;" class="bg-yellow-400 w-1/2 h-3 rounded-full"></div> 
      </div>
<!--       <p class="sm:text-2xl text-1xl font-thin mb-4">The Name of Trust</p>-->
    </div>
    <div fxFlex="50%" fxFlex.xs="100%" class="text-gray-600">
      <div class="elfsight-app-bb12f81b-36da-4c63-b1bf-60419457c001"></div>
    </div>
  </div>
</section>

